

/* SINGLE ELIM / NORMAL BRACKET CSS */

/*  This is set to allow us to 'seperate' one group from another far as sections.. useful when losers bracket and need some 'seperation' */
.loser-round {
    /* justify-content: flex-end; */
    margin-top: auto;
}
.bracket-group {
    margin-bottom: 50px;
}

.bracket {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#252527, #4f5383);
    /* border-radius: 1%; */
}

.bracket-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px
}


.bracket-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 20px;
}



.bracket-round {
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    text-align: center;
}


.round-title {
    color: white;
    background-color: #000;
    font-weight: bold;
    padding: 3px 3px;
}


.team-input {
    display: flex;
    align-items: center;
}


.team-input img {
    width: 36px;
    height: 36px;
}


.team-input input {
    width: 100%;
    padding: 5px;
    text-align: center;
}